<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding1" />
        <binding name="SoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservice.s7.exacttarget.com/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding"
        contract="SFMC.Soap" name="Soap" />
      <endpoint address="https://webservice.s7.exacttarget.com/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding2"
        contract="PartnerAPI.Soap" name="Soap1" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ETUsername" value="PierrySylvan"/>
    <add key="ETPassword" value="7$4YZX@hGwcw"/>
    <add key="MID" value="7237980"/>
    <add key="ETUsernameSbx" value="Pierry.Sandbox"/>
    <add key="ETPasswordSbx" value="W&amp;CeOWYgSH6H"/>
    <add key="MIDSbx" value="7294703"/>
  </appSettings>
</configuration>